<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769630173457-jhtt6fvrtuuo5uqbn59suvtk47qdlaot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769630173457-jhtt6fvrtuuo5uqbn59suvtk47qdlaot</string>
	<key>API_KEY</key>
	<string>AIzaSyDuMPu0J2ybydF4ykSz6qHZTdrICRSkHT4</string>
	<key>GCM_SENDER_ID</key>
	<string>769630173457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapplication4</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-97a8b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-97a8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769630173457:ios:ff1b00dcef8f5d499e34b0</string>
</dict>
</plist>